Repository adambrgmn/react-oauth-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc:

{
  "concurrent": false,
  "linters": {
    "*.js": [
      "eslint --fix",
      "git add",
      "jest --findRelatedTests --passWithNoTests"
    ],
    "*.{js,json,md}": ["prettier --write", "git add"]
  }
}

ci: Setup semantic-release to run on Travis CI
  .travis.yml
  package.json
Due: prettier --write

ci: Update release script
  .travis.yml
  yarn.lock
Due: none

chore: Setup all-contributors
  .all-contributorsrc
  .lintstagedrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

ci: Run travis on master only
  .travis.yml
Due: none

ci: Update travis build script
  .travis.yml
Due: none

fix(jest): Fix jest not running correctly
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

build: Update eslint-config-prettier
  package.json
  yarn.lock
Due: prettier --write

test: Fix jest failing on Node 6
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

ci(jest): Run coverage on CI
  .travis.yml
  jest.config.js
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

chore: Update dev env (#26)
  .all-contributorsrc
  .babelrc
  .eslintrc
  .lintstagedrc
  .prettierrc
  .travis.yml
  README.md
  jest.config.js
  package.json
  src/OauthReceiver/index.js
  src/OauthSender/OauthSender.test.js
  src/OauthSender/index.js
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test: Update jest settings
  jest.config.js
  tests/setup-framework.js
  tests/setup.js
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test: Update components tests
  src/OauthReceiver/OauthReceiver.test.js
  src/OauthSender/OauthSender.test.js
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test: Update utils tests
  src/utils/index.js
  src/utils/utils.test.js
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

chore: Remove unused deps
  package.json
  yarn.lock
Due: prettier --write

ci: Skipping Node 6
  .travis.yml
Due: none

test: Update tests (#27)
  .travis.yml
  jest.config.js
  package.json
  src/OauthReceiver/OauthReceiver.test.js
  src/OauthSender/OauthSender.test.js
  src/utils/index.js
  src/utils/utils.test.js
  tests/setup-framework.js
  tests/setup.js
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

fix access_token passthrough
  src/OauthReceiver/index.js
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

changed fetch function
  package.json
  yarn.lock
Due: prettier --write

Custom fetch functions
  README.md
  package.json
  src/OauthReceiver/OauthReceiver.test.js
  src/OauthReceiver/index.js
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

feat: Enhancement/custom token fetch fn (#29)
  README.md
  src/OauthReceiver/OauthReceiver.test.js
  src/OauthReceiver/index.js
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

Fix spelling of occurred in README.md.
  README.md
Due: prettier --write

docs: Fix spelling of occurred in README.md. (#33)
  README.md
Due: prettier --write

chore: Add note to all users
  README.md
Due: prettier --write

[#32] Fix for 'h' not defined.
  package.json
Due: prettier --write

Update index.js
  src/OauthReceiver/index.js
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

Start fresh
  .babelrc
  .eslintignore
  .eslintrc
  .gitignore
  .lintstagedrc
  .prettierrc
  .travis.yml
  LICENSE
  examples/oauth-dropbox/package.json
  examples/oauth-dropbox/public/favicon.ico
  examples/oauth-dropbox/public/index.html
  examples/oauth-dropbox/public/manifest.json
  examples/oauth-dropbox/src/App.css
  examples/oauth-dropbox/src/App.js
  examples/oauth-dropbox/src/index.css
  examples/oauth-dropbox/src/index.js
  examples/oauth-dropbox/src/logo.svg
  examples/oauth-dropbox/yarn.lock
  jest.config.js
  package.json
  src/OauthReceiver/OauthReceiver.test.js
  src/OauthReceiver/index.js
  src/OauthSender/OauthSender.test.js
  src/OauthSender/index.js
  src/createOauthFlow/index.js
  src/index.js
  src/utils/fetch.js
  src/utils/index.js
  src/utils/utils.test.js
  tests/raf-polyfill.js
  tests/setup-framework.js
  tests/setup.js
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

Setup dev env
  .gitignore
  .travis.yml
  jest.config.js
  package.json
  src/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

wip
  .travis.yml
  package.json
  src/__tests__/flow.test.tsx
  src/index.ts
  tsconfig.json
  types/index.d.ts
  yarn.lock
Due: prettier --write
